@import "./../../styles/base/fonts";
@import "./../../styles/base/colors";

.output-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: inherit;
  transition: 1s ease-in-out;

  .output-title {
    width: clamp(10em, 30vw, 30vw);
    padding-left: 1em;
    color: $white;
    background: $color-primary-light;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    letter-spacing: 0.5px;

    &.output-title-error {
      background: $color-danger;
    }
  }

  .output-content {
    width: clamp(10em, 30vw, 30vw);
    background: $white;
    padding: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.25em;
    line-height: 1.5;

    p {
      margin: 0;
    }
  }
}
